
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital@1&display=swap');

:root{
    --prim: #791979;
    --second: #9b429a;
    --tri: #bc6abc;
    --for: #de93dd;
    --five: #ffbcff;
    --extra: #ffc2ff;
    --tras:#231127;
}
body{
    background-color: var(--extra);
}
.logo{
    height: auto;
    width: 80px;
}

.barraP{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: aliceblue;
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
    margin-bottom:10px ;
    
}
.barraP a{
 color: var(--prim);
 font-family: 'Bebas Neue', sans-serif;

}
.card{
    justify-content:center ;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
}
h1, h3{
    margin-bottom: 50px;
    text-align: center;
    color: var(--second);
    font-family: 'Bebas Neue', sans-serif;

}
.card img{
    height: 250px;
    width: 100%;
}

.container .accordion{
    margin-bottom: 50px;
}
.accordion-body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--for);
}
.accordion-button{
    background-color: var(--for);
}