/* PARTE DE CIMA */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,900&display=swap');

/* PARA TODA A PÁGINA */
:root{
    --prim: #791979;
    --second: #9b429a;
    --tri: #bc6abc;
    --for: #de93dd;
    --five: #ffbcff;
    --extra: #ffc2ff;
    --tras:#140314;
}

body{
  font-family: 'Bebas Neue', sans-serif;
}
.logo{
  height: auto;
  width: 80px;
}
#menu-principal a{
  color: var(--prim);
}



.Home{
    width: 100%;
}
.container a{
    color: var(--prim);

}

/* CARD DA MARCELLA */

#suplementos {
  padding: 25px;
  margin: 0px;
  background-color: var(--for);
}

#suplementos .card {
  border: 2px solid transparent;
  border-radius: 0.75rem;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
}

#suplementos img{
  height: 700px;
}
    #suplementos .card img {
      border: 0.30px solid transparent;
      border-radius: 0.75rem;
      height: 280px; 
      /* object-fit: cover;  */
      position: relative;
      margin-bottom: 5px;
    }

       h1 {
          text-align: center;
          margin-bottom: 30px;
          color: var(--prim);
          
        }

/*             #suplementos .btn {
              background-color: var(--second);
              color: white;
              box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
              border-radius: 0.85rem;
              border: none;
              transition: 0.1s;
            } */
              #suplementos .btn:active {
                transform: scale(1.5) rotate(1deg);
                background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgb(112, 2, 255) 100.2% );
                transition: 0.9s;
              }

                #suplementos .row {
                  align-self: center;
                }

/* MENU  */
nav{
    box-shadow: 0px 5px 10px black;
}


/* CONTEUDO - Júlia e Fernanda */

.global{
  position: static;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 50px;
  padding-bottom: 3px;
  background-color:var(--five);

}
  .crr{
    position: static;
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px;
    grid-template-areas: Esquerdgrid Direitogrid;
    column-gap: 20px;
    
  }


    /* LADO ESCRITO */
        .Cdireito{
          display: Direitogrid;
          border-radius: 0.75rem;
          background-color: var(--tras);
          padding: 2rem;
          color: rgba(243, 244, 246, 1);
          box-shadow: 0 5px 10px rgba(0,0,0,.6);
          text-align:center;
          height: 500px;
          margin-right: 20px;
        }
            .Cdireito h1{
              margin-top: 50px;
              margin-bottom: 20px;
            }
              .Cdireito button{
                margin-top: 30px;
              }
                .Cdireito a{
                  text-decoration: none;
                  color: #fff;
                  font-size: 17px;
                }

        .Cesquerdo{
          position: static;
          display: Esquerdgrid;
          box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
        }
          .Cesquerdo img{
            height: 500px;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
          }

/* BOTÃO */

    .Cdireito button {
      width: 130px;
      height: 60px;
      cursor: pointer;
      color: #fff;
      font-size: 17px;
      border-radius: 1rem;
      border: none;
      position: relative;
      background: var(--second);
      transition: 0.1s;
    }

    .Cdireito button::after {
      content: '';
      width: 100%;
      height: 100%;
      background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
      filter: blur(15px);
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
    }

    .Cdireito button:active {
      transform: scale(1.5) rotate(2deg);
      background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgb(112, 2, 255) 100.2% );
      transition: 0.9s;
    }
        .Cdireito h1{
          color: var(--extra);
          margin-bottom: 50px;
          
        }

/* CARD */

.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  justify-content:center ;
  margin: auto;
  width: 100%;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  
}

/* CARD */

  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    justify-content:center ;
    margin: auto;
    width: 100%;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    
  }

  

/* TESTE DE ICON */
.icons{
  text-align: center;
  background-color: var(--for);
  padding: 50px;
  color: whitesmoke;
}
.icons h4{
  margin-top: 30px;
}

footer img{
  width: auto;
  height: 200px;
}

footer{
  background-color: var(--extra) ;
  color: black;
}


/* Voltar ao topo */

.botao-control-top {
    text-decoration: none;
    color: black;
    background-color: var(--extra);
    padding: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-shadow: 5px 10px 15px black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.celular{
    display: none;
}

@media  (max-width: 760px){
    .princ{
        display: none;
    }
    .final{
        display: none;
    }
    body {
        margin: 0px;
        background-color:#bc6abc;
    }
    .celular{
        display: grid;
        align-items: center;
    }
    .container {
        width: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 500px;
        background-color:#bc6abc;
    }
    .img2cel{
        mix-blend-mode: color-burn;
    } 
    .botaocel{
        display: flex;
    }
    .btn2cel{
        margin: 10px 15px 0 15px;
        border: 0;
        border-radius: 5px;
        background-color: #791979;
        color: #de93dd;
        width: 45%;
    }
}